[submodule "guacamole-server"]
	path = guacamole-server
	url = https://github.com/apache/guacamole-server
[submodule "guacamole-client"]
	path = guacamole-client
	url = https://github.com/apache/guacamole-client
